<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SSR</title>
</head>
<body>
<form action="" method="post">
    <h2>Login</h2>
    <label for="email">E-mail
        <input type="text" name="email" placeholder="Enter you mail...." required>
    </label>
    <label for="password">Password
        <input type="password" name="password" placeholder="Enter you password...." required>
    </label>
    <button type="submit">Log - in</button>
</form>
<script>
    const form = document.querySelector('form');
    form.addEventListener('submit',async (e)=>{
        e.preventDefault();

        // const email = form.email.value;
        // const password = form.password.value;
        const temp_user = {
            "email": form.email.value,
            "password": form.password.value,
        }

        try {
            const res = await fetch("/login",{
                method: "POST",
                body: JSON.stringify(temp_user),
                headers: { "Content-Type" : "application/json" }
            });
            const data = await res.json()
            console.log(data)
        }catch (e) {
            console.log("error: ",e.message)
        }
    })
</script>
</body>
</html>